<app-main-carousel [slides]="slides"></app-main-carousel>

<div fxLayout="row wrap" class="info-bar">
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
    <mat-card class="light-block p-3" fxLayout="row"  fxLayoutAlign="start center">
      <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>
      <div class="content">
        <p>Barbers</p>
        <span class="text-muted m-0">hair cuts for men and hair styles for women</span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
    <mat-card class="light-block p-3" fxLayout="row"  fxLayoutAlign="start center">
      <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>
      <div class="content">
        <p>Local shops</p>
        <span class="text-muted m-0">Leanards is newsagents and mini hard ware store</span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
    <mat-card class="light-block p-3" fxLayout="row"  fxLayoutAlign="start center">
      <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>
      <div class="content">
        <p>Job openings</p>
        <span class="text-muted m-0">jobs available</span>
      </div>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
    <mat-card class="light-block p-3" fxLayout="row"  fxLayoutAlign="start center">
      <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
      <div class="content">
        <p>Advertise here</p>
        <span class="text-muted m-0">from 5 euro</span>
      </div>
    </mat-card>
  </div>
</div>

<app-banners [banners]="banners"></app-banners>

<div class="products-tabs">

  <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">

    <mat-tab label="Featured">
      <app-products-carousel [products]="featuredProducts"></app-products-carousel>
    </mat-tab>
    <mat-tab label="On Sale">
      <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
    </mat-tab>
    <mat-tab label="Top Rated">
      <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
    </mat-tab>
    <mat-tab label="Up coming events">
      <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
    </mat-tab>
  </mat-tab-group>

</div>

<app-brands-carousel [brands]="brands"></app-brands-carousel>
